@media only screen and (min-width 30em) {
main {
   background-color: #D3D3D3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.visual-hierarchy {
       background-color: white;
       grid-column: 1 / 4;
       margin-left: 2em;  
}
.rule-of-thirds {
       background-color: white;
       grid-column: 4 / 7;
       align-self: center;    
}
.white-space-and-clean-design {
         background-color: white;
         grid-column: 7 / 10;
         margin-right: 2em;
}
h1 {
  font-family: 'Satisfy', cursive;
  font-size: 48px;
  text-align: center;
}
h2 {
    background-color: #3C1642; color: white; 
    font-family: 'Satisfy', cursive, sans-serif; 
    font-size:32px;
    text-align: center;
}
body {
  font-size: 20px;
}
}
