@media only screen and (min-width: 40em) {
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  
li {
  float: left;
}

.topnav a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  text-align: center;
  padding: 14px 16px;
}
a {
    color: #3C1642;
}
.topnav a:hover:not(.active) {
  background-color: #111;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
  .topnav a.active {
  background-color: #04AA6D;
  color: #3C1642;
}

#topnav {
        text-align: justify;
        min-width: 500px;
  }
#topnav:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
#topnav li {
        display: inline-block;
    }

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 48px;
  text-align: center;
}
h2 {
    background-color: #3C1642; color: white; 
    font-family: 'Satisfy', cursive, sans-serif; 
    font-size:32px;
    text-align: center;
}
body {
  font-size: 20px;
}
}
