body {
    background-color: #DAE5E8;
}

h1 {
    color: #042D3B;
    font-size: 50px;
    text-align: center;
}

hr {
	max-width: full;
    border-width: 3px;
    border-color: #091940; 
}

p , input, ul {
    font-family: verdana;
    font-size: 24px;
}

button {
	font-size: 24px;
}

.done {
	text-decoration: line-through;
	opacity: 0.5;
}

.selected {
	color: #E30E0E;
}
