html {
  background-color: white;
}
body {
  background-color: #2D728F;
  font-family: "Source Sans Pro", sans-serif, serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1 {
  background-color: white; color: #3C1642;
  font-family: 'Satisfy', cursive;
  font-size: 32px;
  text-align: center;
}
h2 {
    background-color: #3C1642; color: white; 
    font-family: 'Satisfy', cursive, sans-serif; 
    font-size:24px;
    text-align: center;
}

footer {
    background-color: #CBC3E3;
    padding: 1em;
    align-items: center;
}
.motto {
 text-align: center; 
}
.header-box {
    background-color: #CBC3E3;
    padding: 1em;
}

header img {
   width: 50px;
   height: auto;
   float: right;
}
main {
   background-color: #D3D3D3;
  padding: 1em;
  margin: 0 auto;
  padding: 1em;

  
}
.weather-summary {
    background-color: rgba(240, 240, 240, 0.8);
    margin: 1em 3em;
    padding: 1em;
    text-align: center;
}
img {
    max-width:100%;
}
 .list-item {  
  padding:10px;  
  list-style:none;  
 } 
/* NAVIGATION */
nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 50px 0;
  box-shadow: 0px 5px 0px #dedede;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}
nav.ham ul li a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
nav.ham ul li a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
nav.ham ul li a:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}

@media only screen and (max-width:768px){  
 *{  
   overflow:hidden;  
  }  
 .nav-sub{  
   position:absolute;   
   top:10vh;  
   right:0px;  
   flex-direction:column;  
   background-color:rgb(0,0,0,0.75);  
   border-radius:0px 0px 0px 20px;  
   transition:transform 0.3s ease-in;  
   transform:translate(100%);  
  }  
 .nav-change{  
   transform:translate(0%);  
  }  
 .ham{  
   display:block;  
  }    
   .change .bar1 {  
  transform: rotate(45deg) translate(8px,6px);  
 } 
   
   .change .bar2 {  
  transform: rotate(45deg) translate(8px,3px);  
 }   
 .change .bar3 {  
  opacity: 0;  
 }  
 .change .bar4 {  
  transform: rotate(-45deg) translate(8px,-3px);  
 } 
    .change .bar5 {  
  transform: rotate(45deg) translate(8px,-6px);  
 }
 }
