body {
  background-color: #2D728F;
  font-family: "Source Sans Pro", sans-serif, serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
}

h1 {
  background-color: white; color: #3C1642;
  font-family: 'Satisfy', cursive;
  font-size: 32px;
  text-align: center;
}
h2 {
    background-color: #3C1642; color: white; 
    font-family: 'Satisfy', cursive, sans-serif; 
    font-size:24px;
    text-align: center;
}

footer {
    background-color: #CBC3E3;
    padding: 1em;
    align-items: center;
}
.motto {
 text-align: center; 
}
.header-box {
    background-color: #CBC3E3;
    padding: 1em;
}

header img {
   width: 50px;
   height: auto;
   float: right;
}
main {
   background-color: #D3D3D3;
  padding: 1em;
  margin: 0 auto;
  padding: 1em; 
}
.weather-summary {
    background-color: rgba(240, 240, 240, 0.8);
    margin: 1em 3em;
    padding: 1em;
    text-align: center;
}
img {
    max-width:100%;
}
/* NAVIGATION */
nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 50px 0;
  box-shadow: 0px 5px 0px #dedede;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}



