@media only screen and (min-width: 55em) {
h1 {
  font-size: 72px;
}
    
      main .seminars-gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
  main .container-gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
      main .pictures{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  .social {
    grid-column: 1/2;
} 
  .announcements {
   grid-column: 2/3; 
  }
  .map-container {
   grid-column: 3/4;  
  }
      main .contact-information{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    section.card-1:hover {
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
        transition: box-shadow 250ms;
    }

  header img {
   width: 200px;
   height: auto;
   float: right;
}
h2 {
    font-size:48px;
}
  
body {
  font-size: 28px;
}
#submit-storm{width:300px}
.hero-text{
  margin:0 auto;
  position:absolute;
  font-size:14.5px;
  top:156px;
  left:0;
  right:700px;
  width:fit-content;
  height:fit-content;
  background-color:#05569d;
  opacity:85%;
  box-shadow:1px 2px 4px 1px #fff}
  .hero-text h3{color:#fff}
  .hero-text:hover,
  .hero-text h2{margin:0}#for-smalls{display:none}
    main, footer {
        margin: 0 auto;
        max-width: 70vw;
    }

    .navigation {
        display: flex;
        max-width: 70vw;
    }
.container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
