#wrapper
{
 text-align:center;
 margin:0 auto;
 padding:0px;
 width:395px;
}
#price_columns
{
 float:left;
 margin-left:15px;
}
.columns 
{
 float: left;
 width: 100px;
 box-sizing:border-box;
 background-color:white;
 font-family: Verdana,sans-serif;
}
#second_col
{
 border-left:2px solid #086A87;
 border-right:2px solid #086A87;
}
.columns .price_name 
{
 background-color: #2E9AFE;
 color: white;
 font-size: 12px;
 border:none;
 font-weight:bold;
}
.columns .price
{
 background-color: #2E9AFE;
 color: #0B2F3A;
 font-size: 8px;
 border: none;
}
.columns li 
{
 list-style-type:none;
 border-bottom: 1px dashed #CEE3F6;
 height:23px;
 line-height:23px;
 text-align: center;
}

.columns .grey 
{
 background-color: #eee;
 font-size: 7px;
}

.columns .select_price 
{
 background-color: #0489B1;
 border:none;
 border-bottom: 2px solid #0B4C5F;
 color: white;
 width:40px;
 height:15px;
 font-size: 6px;
 border-radius:1px;
}
